@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

/*nombre del duelo del portafolio*/
h1{
   font-size: 48px;
  font-family: 'Lora', Times, serif;
  color: #000000;
  text-align: center;
}
p#frase{   /* slogan del portafolio*/
   font-size:23px;
   text-align: center;
   font-family:"Lora";
   color: rgba(7, 24, 93, 0.8);
   font-weight: 700;
}
nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
  padding: 0px;


}

/*anclas de fuente de habilidades*/
  nav li a{
    text-decoration: none;
   font-family: 'Lora', sans-serif;
   font-size: 27px;
   color: black;
   font-weight: 500;
   border-radius: 5px;
    padding: 10px;
}
nav li a:hover{
 background-color:aliceblue;
 cursor: pointer;
  
}

/*imagen*/
img{
 display:block;
 margin: 0 auto;
  width: 600px;
}

